.footer {
  height: 20rem;
  margin: 8rem 5rem 2rem 5rem;
  text-align: center;

  @include respond(phone) {
    margin: 5rem 3rem 3rem 3rem;
  }
  

  &__content {
    border-top: 1.5px solid rgba($color-primary, .5);
    
  }

  &__contact {
    border-bottom: 1.5px solid rgba($color-primary, .5);
    padding: 2rem 0rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;

    @include respond(phone) {
      padding: 1rem 0rem;
    }
  }

  &__email {
    text-decoration: none;
    display: inline-block;
    padding: 1.2rem 3rem;
    background-color: rgba($color-primary, .8);
    color: $color-white;
    border-radius: 30px;
    margin-top: 1.5rem;
    transition: all .2s;

    @include respond(phone) {
      margin-top: 1rem;
    }


    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active,
    &:focus {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
  }

  &__info {
    margin: 2rem 0rem;
    font-size: 1.3rem;

    @include respond(phone) {
      margin: 1rem 0rem 3rem 0rem;
    }
  }

  &__link {
    text-decoration: none;
    font-style: italic;
    color: $color-black;
  }
}