.header {
  position: relative;
  margin: 0 auto;
  padding: 4rem 2rem 3rem 2rem;

  &__text-box {
    display: inline;
  }
}

.heading-primary {
  font-weight: normal;
  text-align: center;
  font-size: 3.5rem;

  @include respond(phone) {
    font-size: 3rem;
  }

  &--main {
    display: block; 
  }

}