.navigation {

  &__list {
    font-size: 1.7rem;
    display: flex;
    justify-content: flex-end;

    &--item {
      display: inline-block;
      margin: 5rem;
      
      @include respond(phone) {
        margin: 5rem 2rem;
      }
    }

    &--link,
    &--link:link,
    &--link:visited {
      text-decoration: none;
      color: $color-black;
      padding: 1rem 2rem;
      border-radius: 30px;
      background-color: rgba($color-primary, 0);

      @include respond(phone) {
        padding: 1rem 1rem;
      }

      &:hover,
      &:focus {
        background-color: rgba($color-primary, .8);
        color: $color-white;
        transition: all .5s;
      }
    }
  }
}