.projects {

  &__header {
    @include smallHeader;

    &::after {
      @include borderBottomGray;
    }
  }

  &__container {
    margin-top: 2rem;
  }

  &__item {
    background-color: $color-projects;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    padding: 3rem 3rem;
    list-style: none;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    transition: all .2s;

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(phone) {
      width: 80%;
      flex-direction: column;
      padding: 0rem 0rem;
    }
    

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
    &--left {
      width: 60%;
      
      @include respond(phone) {
        width: 100%;
        padding: 2rem 2rem;
      }
    }

    &--right {
      @include respond(phone) {
        display: inline-block;
        width: 100%;
      }
    }

    &--title {
      @include smallHeader;
      text-align: left;
      margin-bottom: 1.5rem;

      &::after {
        @include borderBottomGray;
        width: 20%;
        left: 10%;
      }
    }

    &--paragraph {
      font-size: 1.4rem;
      padding-right: 1rem;
      min-height: 5rem;
      max-height: 9rem;

      @include respond(tab-port) {
        font-size: 1.3rem;
        max-height: 15rem;
      }
    }

    &--link {
      padding: 1rem 1rem;
      display: inline-block;
    }

    &--icon {
      height: 3rem;
      width: 3rem;
      margin-top: 3rem;
      transition: all .2s;

      @include respond(tab-port) {
        margin-top: 1.5rem;
      }

      @include respond(phone) {
        margin-top: 1rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }


    &--img {
      max-height: 20rem;
      
      @include respond(phone) {
        width: 100%;
        max-height: 100%;
      }
    }
  }

  
}